body{
    margin : 0px;
}
h1{
    background-color: rgb(151, 255, 31);
    color : white;
    border : 10px red solid;
    margin : 0px;
    
}
li{
    color: blue;
    border: 2px red dotted;
    font-size: 50px;
}
table, td, th{
    border : 1px black solid;
}